
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

.canvas_container {
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#controlsDiv {
  /* border: 1px solid #ccc; */
  padding: 0.125in;
}

#instructions {
  padding: 0.125in;
}

table.interesting {
  margin-left:0;
  margin-right:0;
  width: 100%;
}
.interesting {
  background-color: #eee;
}

#sample_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
}
